

body {
    font-family: 'Verdana' , sans-serif;
    margin: 0px;
}


#main-header .header-content h1{
    font-weight: 800;
    font-size: 30px;
       
}

#main-header .header-content h2 {
    font-weight: 800;
    font-size: 19px;
        
}


@media (max-width: 991px) {
    body { 
    background-image: url("img/man-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
   }
    .righth1 {
    position: absolute;
    top: 350px;
    right: 15px;
    color: black;
    }
    
    .righth2 {
    position: absolute;
    top: 320px;
    right: 150px;
    color: black;
    }
}




@media (min-width: 992px) and (max-width: 1170px){
    body {     
    background-image: url("img/man-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }
    .righth1 {
    position: absolute;
    top: 170px;
    right: 15px;
    color: white;
    }
    
    .righth2 {
    position: absolute;
    top: 120px;
    right: 260px; 
    color: white;   
    }
}


    
@media (min-width: 1171px)  {
    body {
    background-image: url("img/man-1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    }
    .righth1 {
    position: absolute;
    top:390px;
    left: 15px;
    color: white;
    }
    
    .righth2 {
    position: absolute;
    top: 350px;
    left: 18px;
    color: white;   
    }
}


   



















